<div class="col-md-8 pull-left">
  <div>
    <span class="large">Edit job</span>
  </div>
  <div ng-controller="jobController">
    {{ date | date:'dd.MM.yyyy HH:mm:ss' }}
  </div>
	<p>
	<br>

  <div>
		<form ng-submit="save(job)" ng-controller="jobController">
      <input type="hidden" name="id" ng-model="job.id">
      <div class="form-group">
				<label for="cron">Name</label>
			  <input class="form-control" type="text" id="name" ng-model="job.name" name="name" placeholder="name"/>
      </div>
			<div class="form-group">
				<label for="cron">Cron mask, for example */30 * * * * *</label>
			  <input class="form-control" type="text" id="cron" ng-model="job.cron" name="cron" placeholder="*/5 * * * * *"/>
      </div>
      <div class="form-group">
				<label for="method">Operation</label>
			  <select class="form-control" id="operation" ng-model="job.operation" name="operation">
          <option value="INFO">INFO</option>
          <option value="START">START</option>
          <option value="STOP">STOP</option>
        </select>
      </div>
      <div class="form-group">
				<label for="method">Service name (in DBaaS or JaaS)</label>
			  <input class="form-control" type="text" id="service" ng-model="job.service" name="service" placeholder="service name"/>
			</div>
      <div class="form-group">
				<label for="method">Endpoint url</label>
			  <input class="form-control" type="text" id="endpoint" ng-model="job.endpoint" name="endpoint" placeholder="endpoint url"/>
			</div>
      <div class="form-group">
				<label for="method">Tenant (Domain)</label>
			  <input class="form-control" type="text" id="tenant" ng-model="job.tenant" name="tenant" placeholder="tenant"/>
			</div>
      <div class="form-group">
				<label for="method">Username</label>
			  <input class="form-control" type="text" id="username" ng-model="job.user" name="username" placeholder="username"/>
			</div>
      <div class="form-group">
				<label for="method">Password</label>
			  <input class="form-control" type="password" id="password" ng-model="job.pass" name="password" placeholder="password"/>
			</div>
			<button class="btn btn-primary" type="submit" value="add">Save</button>
      <a ng-href="#/"><button class="btn btn-default" type="button" value="cancel">Cancel</button></a>
		</form>
  </div>
</div>

<script>
$("#name").focus();
</script>
