<blockquote>
  This example demonstrates how the Oracle Cloud REST API can be used to manipulate cloud services from crontab.
</blockquote>
<p>
<h2>Schedule jobs</h2>
<div>
  {{ date | date:'dd.MM.yyyy HH:mm:ss' }}
</div>
<p>
<br>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cron mask</th>
      <th>Operation</th>
      <th>Service</th>
      <th colspan="2">State</th>
      <th>Status</th>
      <th>Last execution</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="job in jobs">
      <td> <a ng-href="#/{{ job.id }}"> {{ job.name }} </a> </td>
			<td> {{ job.cron }} </td>
      <td> {{ job.operation }} </td>
      <td> {{ job.type }}/{{ job.service }} </td>
      <td> {{ job.state }} </td>
      <td>
          <div ng-if="job.state == 'running'">
            <a ng-click="changeState($index)"><button class="btn btn-warning">Pause</button></a>
          </div>
          <div ng-if="job.state == 'paused'">
            <a ng-click="changeState($index)"><button class="btn btn-success">Resume</button></a>
          </div>
      </td>
      <td><span class="badge" style="cursor: pointer" ng-click="showAlert($index)">{{ job.status }}</badge></td>
      <td>{{ job.last | date:'dd.MM.yyyy HH:mm:ss' }}</td>
    </tr>
		<tr ng-if="jobs.length === 0">
			<td><strong>No jobs found, start by <a ng-href="#/add">adding new</a> </strong></td>
		</tr>
  </tbody>
</table>

<div ng-if="jobs.length < 5">
  <a ng-href="#/add"><button class="btn btn-primary">Add new a new job</button></a>
</div>

<div ng-if="jobs.length === 5">
  <a ng-href="#/add"><button class="btn btn-primary disabled">Add a new job</button></a>
</div>

<p>
<br>

{{ 10 - jobs.length }} of maximum 10 jobs available
