<h2>Schedule</h2>
<p>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Job cron</th>
      <th>Operation</th>
      <th>Service</th>
      <th colspan="2">State</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="job in jobs">
			<td> {{ job.cron }} </td>
      <td> {{ job.operation }} </td>
      <td> {{ job.service }} </td>
      <td> {{ job.state }} </td>
      <td>
          <div ng-if="job.state == 'running'">
            <a ng-href="#/{{$index}}"><button class="btn btn-warning">Pause</button></a>
          </div>
          <div ng-if="job.state == 'paused'">
            <a ng-href="#/{{$index}}"><button class="btn btn-success">Resume</button></a>
          </div>
      </td>
    </tr>
		<tr ng-if="jobs.length === 0">
			<td><strong>No jobs found, start by <a ng-href="#/add">adding new</a> </strong></td>
		</tr>
  </tbody>
</table>

<div ng-if="jobs.length < 5">
  <a ng-href="#/add"><button class="btn btn-primary">Add new</button></a>
</div>

<div ng-if="jobs.length === 5">
  <a ng-href="#/add"><button class="btn btn-primary disabled">Add new</button></a>
</div>

<p>
<br>

{{ 5 - jobs.length }} of 5 jobs available
